* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    position: fixed;
    overflow: hidden;
}

.deck-root {
    overflow: hidden;
    width: 100%;
}

.deck-root > .card-container {
    position: absolute;
    width: 100vw;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deck-root > .card-container > .card {
    padding: 5px;
    background-color: #f6fbf5;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 300px;
    max-width: 300px;
    height: 550px;
    max-height: 570px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 20px -10px rgba(50, 50, 73, 0.4),
        0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.deck-root > .card-container > .card.card-back {
    box-sizing: border-box;
    border: solid 5px #fff;
    background: url('https://images.unsplash.com/photo-1550537687-c91072c4792d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');
    background-size: auto 100%;
    background-repeat: repeat;
    background-position: center center;
}

img {
    height: 380px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    pointer-events: none;
}

button[aria-label='previous'],
button[aria-label='next'] {
    background: salmon !important;
    color: black !important;
}

h2 {
    display: inline-block;
    margin-right: 10px;
}

h2:nth-of-type(2) {
    opacity: 0.7;
    font-size: 1.35rem;
}

h5 {
    margin-top: -15px;
    margin-left: 2px;
    color: lightgray;
}
h5:last-of-type {
    color: darkgray;
}

.card-content > div {
    height: 380px !important;
}

.card-content {
    height: 500px !important;
}

.slider-control-bottomcenter {
    bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
    color: salmon !important;
}
