$card-width: 40vh;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    position: fixed;
    overflow: hidden;
}
.deck-root {
    position: relative;
    top: -0.1 * $card-width;
    width: 100%;
    height: 100%;
}

.deck-root > .card-container {
    position: relative;
    width: 100%;
    min-width: 40vh;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deck-root > .card-container > .card.card-back {
    box-sizing: border-box;
    border: solid 0.035 * $card-width #fff;
    background: url('https://images.unsplash.com/photo-1550537687-c91072c4792d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');
    background-size: auto 100%;
    background-repeat: repeat;
    background-position: center center;
}

.deck-root > .card-container > .card {
    background-color: #f6fbf5;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: $card-width;
    height: 2 * $card-width;
    will-change: transform;
    border-radius: 0.035 * $card-width;
    box-shadow: 0 12.5px 20px -10px rgba(50, 50, 73, 0.4),
        0 10px 10px -10px rgba(50, 50, 73, 0.3);
    overflow: hidden;
    font-size: 0.035 * $card-width;

    & > .card-content {
        display: block;
        position: relative;
        height: 100%;

        & > .card-image {
            width: 100%;
            height: 70%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 120%;
            border: solid 0.035 * $card-width #fff;
            border-style: solid solid none solid;
        }

        & > .card-text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 30%;
            background: #fff;

            & > em.location {
                position: absolute;
                top: -0.1125 * $card-width;
                right: 0;
                display: block;
                font-size: 140%;
                background: rgba(230, 230, 230, 0.7);
                border-radius: 1vh 0 0 1vh;
                padding: 0.0125 * $card-width 0.125 * $card-width 0.0125 *
                    $card-width 0.05 * $card-width;
            }

            & > h1.title {
                font-size: 160%;
                white-space: nowrap;
                color: #fff;
                background: #333;
                display: block;
                margin: 0;
                padding: 0.025 * $card-width 0.0625 * $card-width;
            }

            & > p.text {
                font-size: 160%;
                color: #333;
                padding: 0.05 * $card-width 0.0625 * $card-width 0.1 *
                    $card-width 0.0625 * $card-width;
                margin: 0;
            }
        }
    }
}
